body {
    margin: 0px;
    padding: 0;
    background-color: #f8f9fa;
}

.link {
    margin-right: 15px;
    font-size: 16px;
}

@media screen and (min-width: 1320px){
    .container{
        width: 1320px;
        max-width: 1320px;
    }
}

.no-padding {
    padding: 0px !important;
}

.bloco {
    margin: 5px 0px 20px 0px !important;
}

.itens-topo {
    margin: 0 auto;
}

/* BANNER */

.row {
    margin: 0;
}

.banner .carousel-inner>.item, .carousel-inner>.item>img {
    line-height: 1;
    height: 400PX;
    object-fit: cover;
}
.banner .banprev{
    position: absolute;
    top: 50%;
    color: #000;
    z-index: 1;
    height: 42px;
    width: 42px;
    border-radius: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 215%;
    left: 16%;
}
.banner .bannext{
    position: absolute;
    top: 50%;
    color: #000;
    z-index: 1;
    height: 42px;
    width: 42px;
    border-radius: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 215%;
    right: 16%;
}

/* DESTAQUE */

.produto-titulo, .produto-valor, .subtitulo, .texto-institucional, .agradecimento {
    font-family: 'Cinzel', serif;
}

.subtitulo {
    text-shadow: 2px 2px 3px rgba(0, 75, 76, 0.4);
}

.produto-titulo {
    color: #191970;
    font-weight: bold;
    font-size: 20px;
}

.produto-valor {
    font-size: 36px;
}

.destaque {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-lista {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.produto-destaque {
    width: 200px;
    text-align: center;
}

.produto-desconto {
    position: absolute;
}

.produto-img {
    width: 100%;
}

/* INSTITUCIONAL */

.fundo-institucional {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(10,181,186,0.3), rgba(255,0,0,0));
    height: auto;
    min-height: 220px;
}

/* CONTATO */
